@import "./normize.scss";
@import "../../node_modules/highlight.js/styles/docco.css";
// docco, rainbow, xcode, darcula
// SIZES
$headerHeight: 80px;
$footerHeight: 50px;
$pagePaddingDesktop: 25px;
$pagePaddingMobile: 6vw;
$maxContentWidth: 800px;
// STYLES
$fontFamily: ('Liberation Serif', Helvetica, sans-serif);
$borderColor: rgba(0, 0, 0, 0.2);
$primaryTextColor: rgba(0, 0, 0, 0.8);
@mixin forMobileOnly {
    @media (max-width: 425px) {
        @content;
    }
}

@mixin forContentCollapseOnly {
    @media (max-width: $maxContentWidth) {
        @content;
    }
}

@mixin pagePadding {
    margin: 0 auto;
    padding-left: $pagePaddingDesktop;
    padding-right: $pagePaddingDesktop;
    max-width: $maxContentWidth;
    @include forMobileOnly {
        padding-left: $pagePaddingMobile;
        padding-right: $pagePaddingMobile;
    }
}

@mixin fullWidth {
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
}

* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    font-family: $fontFamily;
    color: $primaryTextColor;
    margin: 0;
    background-color: lighten( whitesmoke, 5%);
    font-size: 16px;
}

body {
    min-width: 100vw;
    overflow-x: hidden;
    position: relative;
}

ul {
    margin: 0;
}

a {
    text-decoration: none;
    color: black;
    &:hover {
        background-color: lighten( tomato, 10%);
        outline: 5px solid lighten( tomato, 10%);
        // color: black !important;
    }
}

header {
    .header-inner {
        @include pagePadding();
        height: 100%;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
        h1 {
            font-weight: normal;
        }
    }
    min-height: $headerHeight;
    border-bottom: 1px solid $borderColor;
    nav {
        span:not(:last-child) {
            margin-right: 10px;
        }
    }
}

main {
    @include pagePadding();
    min-height: calc(100% - (#{$headerHeight} + #{$footerHeight}));
    padding-top: 8vh;
    padding-bottom: 6vh;
}

footer {
    border-top: 1px solid $borderColor;
    height: $footerHeight;
    .footer-inner {
        @include pagePadding();
        height: 100%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
    .powered-by {
        position: absolute;
        @include forMobileOnly {
            position: inherit;
        }
        right: 20px;
        font-size: 12px;
    }
}


/* Page: main/landing */

.articles {
    list-style: none;
    padding: 0;
    .title {
        font-weight: bold;
        font-size: 2.4rem;
        margin: 0 0 0.6rem;
    }
    .date {
        font-style: italic;
        margin-bottom: 1.2rem;
    }
    .summary {
        font-size: 1.2rem;
        line-height: 1.6;
    }
    li {
        margin-bottom: 3rem;
    }
    a {
        text-decoration: none;
        color: $primaryTextColor;
    }
}


/* Page: post */

.blog-post {
    line-height: 1.8;
    font-size: 1.2rem;
    h1 {
        font-size: 3rem;
    }
    h2 {
        font-size: 2.4rem;
    }
    h3 {
        font-size: 1.8rem;
    }
    a {
        border-bottom: 2px solid black;
    }
    p,
    li {}
    pre {
        position: relative;
        &::after {
            content: "";
            position: absolute;
            left: -50vw;
            width: 50vw;
            background-color: #f8f8ff;
            top: 0;
            bottom: -0;
            @include forContentCollapseOnly {
                display: none;
            }
        }
        display: flex;
    }
    code.hljs {
        position: relative;
        min-width: calc(50vw + #{$maxContentWidth} / 2);
        font-size: 14px;
        line-height: 1.2;
        @include forContentCollapseOnly {
            min-width: inherit;
        }
    }
}