@import "./normize.scss";
@import "../../node_modules/highlight.js/styles/railscasts.css";
// docco, rainbow, xcode, darcula, railscasts
// SIZES
$headerHeight: 80px;
$footerHeight: 60px;
$pagePaddingDesktop: 25px;
$pagePaddingMobile: 6vw;
$maxContentWidth: 920px;
// STYLES
$fontFamily: ('Liberation Serif', Helvetica, sans-serif);
$borderColor: rgba(0, 0, 0, 0.2);
$primaryTextColor: rgba(0, 0, 0, 0.8);
$primaryGeneralColor :#F9E79F;
$brStandard: 5px;
@mixin forMobileOnly {
    @media (max-width: 425px) {
        @content;
    }
}

@mixin forContentCollapseOnly {
    @media (max-width: $maxContentWidth) {
        @content;
    }
}

@mixin pagePadding {
    margin: 0 auto;
    padding-left: $pagePaddingDesktop;
    padding-right: $pagePaddingDesktop;
    max-width: $maxContentWidth;
    @include forMobileOnly {
        padding-left: $pagePaddingMobile;
        padding-right: $pagePaddingMobile;
    }
}

@mixin fullWidth {
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
}

* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    font-family: $fontFamily;
    color: $primaryTextColor;
    margin: 0;
    background-color: lighten( whitesmoke, 5%);
    font-size: 16px;
}

body {
    min-width: 100vw;
    overflow-x: hidden;
    position: relative;
}

ul {
    margin: 0;
}

a {
    text-decoration: none;
    color: black;
    &:hover {
        background-color: $primaryGeneralColor;
        outline: 5px solid $primaryGeneralColor;
    }
}

header {
    .header-inner {
        @include pagePadding();
        height: 100%;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid $borderColor;
        h1 {
            font-weight: normal;
        }
    }
    min-height: $headerHeight;
    nav {
        span:not(:last-child) {
            margin-right: 10px;
        }
    }
}

main {
    @include pagePadding();
    min-height: calc(100% - (#{$headerHeight} + #{$footerHeight}));
    padding-top: 6vh;
    padding-bottom: 6vh;
}

footer {
    height: $footerHeight;
    padding: 1rem 0;
    @include pagePadding();
    border-top: 1px solid $borderColor;
    .footer-inner {
        height: 100%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
    }
    .powered-by {
        // position: absolute;
        @include forMobileOnly {
            position: inherit;
        }
        right: 20px;
        font-size: 12px;
    }
}


/* Page: main/landing */

.articles {
    list-style: none;
    padding: 0;
    .title {
        font-weight: bold;
        font-size: 2.4rem;
        margin: 0 0 0.6rem;
    }
    .date {
        font-style: italic;
        margin-bottom: 1.2rem;
    }
    .summary {
        font-size: 1.2rem;
        line-height: 1.6;
    }
    li {
        margin-bottom: 3rem;
    }
    a {
        text-decoration: none;
        color: $primaryTextColor;
    }
}


/* Page: post */

.blog-post {
    line-height: 1.8;
    font-size: 1.2rem;
    &-title {
        margin-bottom: 0rem;
    }
    &-date {
        font-style: italic;
        margin-bottom: 2rem;
    }
    h1 {
        font-size: 3rem;
    }
    h2 {
        font-size: 2.4rem;
    }
    h3 {
        font-size: 1.8rem;
    }
    a {
        border-bottom: 2px solid $primaryGeneralColor;
    }
    p,
    li {}
    pre {}
    code.hljs {
        border-radius: $brStandard;
        font-size: 14px;
        line-height: 1.2;
    }
}

.lb {
    &-container {
        margin-top: 4.5rem;
    }
    &-text-container {
        line-height: 1;
        display: flex;
        justify-content: flex-end;
        padding: 0.5rem 0;
    }
    &-likes {
        color: rgba(0, 0, 0, 0.6);
        flex: 1;
        font-size: 1rem;
        font-style: italic;
        text-align: right;
    }
    a.lb-like {
        flex: 1;
        color: rgba(0, 0, 0, 0.9);
        border-bottom: none;
        &:hover {
            cursor: pointer;
            background-color: transparent;
            outline: none;
        }
    }
    &-unit-container {
        line-height: 1;
        display: flex;
        flex-wrap: wrap;
        border-top: 1px solid rgba(0, 0, 0, 0.8);
        padding: 4px;
    }
    &-unit {
        background-color: rgba(0, 0, 0, 0.8);
        width: 12px;
        height: 12px;
        margin: 4px;
        &.is-personal {
            background-color: tomato;
        }
    }
    &-floating {
        position: fixed;
        bottom: 30px;
        right: 40px;
    }
}