@import "./fonts.scss";
@import "./base.scss";
@import "../../node_modules/highlight.js/styles/railscasts.css";
// docco, rainbow, xcode, darcula, railscasts
// SIZES
$baseFontSize: 16px;
$spacingFactor: 8px;
// spacing
$spacing0: $spacingFactor /2;
$spacing1: $spacingFactor;
$spacing2: 2 * $spacingFactor;
$spacing3: 3 * $spacingFactor;
$spacing6: 6 * $spacingFactor;
$headerHeight: 60px;
$footerHeight: 48px;
$pagePaddingDesktop: $spacing3;
$pagePaddingMobile: 6vw;
$maxContentWidth: 800px;
// STYLES
$borderColor: rgba(0, 0, 0, 0.2);
$primaryTextColor: rgba(0, 0, 0, 0.8);
$secondaryTextColor: rgba(0, 0, 0, 0.6);
$primaryGeneralColor: #f9e79f;
$brStandard: 5px;
@mixin forMobileOnly {
    @media (max-width: 425px) {
        @content;
    }
}

@mixin forContentCollapseOnly {
    @media (max-width: $maxContentWidth) {
        @content;
    }
}

@mixin pagePadding {
    margin: 0 auto;
    padding-left: $pagePaddingDesktop;
    padding-right: $pagePaddingDesktop;
    max-width: $maxContentWidth;
    @include forMobileOnly {
        padding-left: $pagePaddingMobile;
        padding-right: $pagePaddingMobile;
    }
}

@mixin fullWidth {
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
}

* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

a {
    text-decoration: none;
    &:hover {
        text-decoration: underline;
    }
}

header {
    a {
        color: black;
    }
    .lb-unit-container {
        border-top: none;
    }
    .lb-unit {
        width: 14px;
        height: 14px;
    }
    .header-inner {
        @include pagePadding();
        min-height: $headerHeight;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid $borderColor;
        h3 {
            margin: 0;
            font-family: inherit;
            font-weight: normal;
        }
    }
    min-height: $headerHeight;
    nav {
        span:not(:last-child) {
            margin-right: 10px;
        }
    }
}

main {
    @include pagePadding();
    min-height: calc(100% - (#{$headerHeight} + #{$footerHeight}));
    padding-top: 6vh;
    padding-bottom: 6vh;
}

footer {
    a {
        color: black;
    }
    height: $footerHeight;
    padding: 1rem 0;
    @include pagePadding();
    border-top: 1px solid $borderColor;
    .footer-inner {
        height: 100%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
    }
    .powered-by {
        // position: absolute;
        @include forMobileOnly {
            position: inherit;
        }
        right: 20px;
        font-size: 12px;
    }
}

/* Page: main/landing */

.articles {
    list-style: none;
    padding: 0;
    margin: 0;
    .title {
        margin: 0;
    }
    .date {
        font-style: italic;
        margin-bottom: 1.2rem;
    }
    .summary {
    }
    li {
        margin-bottom: 3rem;
    }
    a {
        color: $primaryTextColor;
    }
}

/* Page: about */

.about {
    img {
        display: block;
        margin: 0 auto;
        max-width: 320px;
        min-height: 374px;
        width: 100%;
        margin-bottom: $spacing6;
    }
}

/* Page: post */

.blog-post {
    &-title {
        margin-bottom: 0rem;
    }
    &-date {
        font-style: italic;
        margin-bottom: 2rem;
    }
    code.hljs {
        border-radius: $brStandard;
        font-size: 14px;
        line-height: 1.2;
    }
}

.lb {
    &-container {
        margin-top: 4.5rem;
    }
    &-text-container {
        line-height: 1;
        display: flex;
        justify-content: flex-end;
        padding: 0.5rem 0;
    }
    &-likes {
        color: $secondaryTextColor;
        flex: 1;
        font-size: 1rem;
        font-style: italic;
        text-align: right;
    }
    &-like {
        font-size: 17px;
        line-height: 20px;
        margin: 0 4px;
        flex: 1;
        color: rgba(0, 0, 0, 0.9);
        border-bottom: none;
        &:hover {
            cursor: pointer;
            background-color: transparent;
            outline: none;
        }
    }
    &-unit-container {
        line-height: 1;
        display: flex;
        flex-wrap: wrap;
        border-top: 1px solid rgba(0, 0, 0, 0.8);
        padding: 4px;
    }
    &-unit {
        background-color: rgba(0, 0, 0, 0.8);
        width: 12px;
        height: 12px;
        margin: 4px;
        border-radius: 2px;
        &.is-personal {
            background-color: tomato;
        }
    }
}

// Comments

.comments-container {
    margin-top: $spacing6;
    border-top: 1px dashed rgba(0, 0, 0, 0.4);
    padding-top: $spacing6;
}

.existing-comment {
    position: relative;
    margin-bottom: $spacing3;
    // background-color: rgba(0, 0, 0, 0.08);
    border-radius: 2px;
    .inner-wrap {
        border-top: 1px solid rgba(0, 0, 0, 0.3);
        padding: $spacing2;
        &:target,
        &.show-reply {
            .new-reply {
                display: block;
            }
        }
        .new-reply {
            display: none;
        }
    }

    .top {
        display: flex;
        justify-content: space-between;
        .name {
            font-weight: bold;
        }
    }

    .comment {
        margin-bottom: $spacing1;
        white-space: pre-wrap;
        // width: 100%;
    }

    .add-reply {
        a {
            font-size: 16px;
        }
    }

    .coment-msg {
        opacity: 0;
        background-color: white;
        padding: $spacing2;
        position: absolute;
        bottom: 4px;
        right: 4px;
        animation: fade-in 3s;

        &.is-positive {
            color: green;
        }
        &.is-negative {
            color: red;
        }
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }

    25% {
        opacity: 1;
    }
    75% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.replies {
    overflow: auto;
    .existing-comment {
        // margin-top: $spacing2;
        margin: $spacing2 0 $spacing2 $spacing6;
    }
}

.new-comment {
    .comment-area {
        padding: $spacing0;
        min-width: 100%;
        max-width: 100%;
        min-height: 120px;
        border-radius: 2px;
        border: 1px solid rgba(0, 0, 0, 0.3);
    }
    .formatting-info {
        font-size: 12px;
        line-height: 1.4;
        margin-bottom: $spacing2;
        color: rgba(0, 0, 0, 0.6);
    }

    .bottom {
        display: flex;
        .name {
            padding: $spacing0;
            flex: 1;
            margin-right: $spacing1;
            border-radius: 2px;
            border: 1px solid rgba(0, 0, 0, 0.3);
        }
        .add {
            flex: 1;
            color: rgba(0, 0, 0, 0.7);
            cursor: pointer;
            background-color: rgba(0, 0, 0, 0.1);
            border: 1px solid rgba(0, 0, 0, 0.3);
            border-radius: 2px;
            &:hover,
            &:focus {
                color: rgba(0, 0, 0, 1);
                border: 1px solid rgba(0, 0, 0, 0.5);
            }
        }
    }
}

.existing-comment {
    .new-comment {
        margin-top: $spacing3;
    }
}
