$baseFontSize: 16px;
$spacingFactor: 8px;
$fontSize: (size0: 0.742rem, size1: 1rem, size2: 1.2rem, size3: 1.618rem, size4: 1.942rem, size5: 2.618rem, size6: 3.142rem, size7: 4.236rem);
$spacing: (space0: $spacingFactor / 2, space1: $spacingFactor, space2: $spacingFactor * 2, space3: $spacingFactor * 3);
$spacing2: (space0: $spacingFactor / 2, space1: 1.5rem, space2: $spacingFactor * 2, space3: $spacingFactor * 3);
$lineHeight: (size0: 0.742rem, size1: 1rem, size2: 1.2rem, size3: 1.618rem, size4: 1.942rem, size5: 2.618rem, size6: 3.142rem, size7: 4.236rem);
$fontWeight: (bold: 700, normal: 400, light: 200);